$green: #c3f2da;
$green-light: #dff8eb;
$green-dark: #54d994;
$red: #f2c4c4;
$red-light: #f8e0e0;
$red-dark: #d33939;

$grey-light: #fefeff;
$grey: #dfdfe7;
$grey-dark: #aeaec3;
$grey-neutral: #bababa;

$black: #1a1423;
$black-dark: #000;
