.name {
    font-family: inherit;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    outline: none;
    border: 3px solid transparent;
    padding: 1rem 2rem;
    background-color: $grey-light;
    text-align: center;
    border-radius: 3px;
    margin: 1rem;

    &::placeholder {
        font-family: inherit;
        font-size: 2rem;
    }
}

.valid {
    border-bottom-color: $green-dark;
}

.invalid {
    border-bottom-color: $red-dark;
}
